body.icompany,
#wap-menu ul.sf-menu li span.tip a,
.ei-title h3,
#main_slider .slider-body,
#main_slider .slider-link,
.btn {
    font-family: PT Sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
.heading,
.nav-tabs,
.pricing-table ul .price,
.accordion-heading,
.numbered-heading,
.heading-list,
.uc-price {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#wap-menu ul.sf-menu li a,
.tinynav {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#main_slider,
#main_slider h1,
#main_slider h2,
#main_slider h3,
#main_slider p,
#main_slider .btn {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

blockquote,
.quote {
    font-family: Lato, Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
}


/* Body background scheme goes here -----------*/

body {
    background: url(/sites/all/themes/icompany/img/bg/stripe_default.png) repeat;
}


/** custom typo */

body {
    font-size: 13px;
}

.sf-menu a {
    font-size: 18px
}


/* theme color scheme goes here ----------- */

a,
a:hover,
.color:hover,
ul.menu li a:hover,
#footer-bar a:hover,
#footer-region a,
.btn.btn-plain {
    color: #1d69bf;
    text-decoration: none;
}

.color,
.dropcap {
    color: #1d69bf;
    text-decoration: none;
}

#header_left .inner {
    margin-top: 15px;
}

.main_menu_container {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .main_menu_container {
        margin-top: 25px;
    }
}

.theme-scheme,
.btn.btn-theme,
.btn-theme:focus,
.btn-theme:active,
.btn.btn-theme:hover,
.comment .new,
.marker,
#title-region .inner,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.jcarousel-next-vertical,
.jcarousel-prev-vertical,
#highlighted_2,
.round-number,
.btn.btn-plain,
#bottom-region,
.btn.node-add-to-cart,
.btn.node-add-to-cart:hover,
.node-product .product-title {
    background-color: #1d69bf;
}

#bottom-region,
.node-product .product-images .field-type-image {
    border-color: #568fcf;
}

.product-title-border {
    background: #77a5d9;
}

#bottom-region a {
    color: #a5c3e5
}

.theme-border,
.sf-menu li.sfHover ul,
#page-wrapper,
td,
#forum .table td,
.border-color,
.banner,
#footer-bar {
    border-color: #1d69bf;
}

.region-highlighted-2,
#bottomShadow {
    border-color: #568fcf
}

#tabs-region .tab-content {
    border-left: 2px solid #1d69bf;
}

#tabs-region .tabs-left > .nav-tabs > li.active {
    border-top: 1px solid #1a5fac;
    border-left: 1px solid #1a5fac;
    border-bottom: 1px solid #1a5fac;
}

#tabs-region .tabs-left > .nav-tabs > li.active > a,
#tabs-region .tabs-left > .nav-tabs > li.active > a:hover {
    border-top: 1px solid #93b7e1;
    border-left: 1px solid #93b7e1;
    border-bottom: 1px solid #93b7e1;
    border-right: none;
    background: #1d69bf;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #568fcf 0%, #1d69bf 75%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #568fcf), color-stop(75%, #1d69bf));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #568fcf 0%, #1d69bf 75%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #568fcf 0%, #1d69bf 75%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #568fcf 0%, #1d69bf 75%);
    /* IE10+ */
    background: linear-gradient(to bottom, #568fcf 0%, #1d69bf 75%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-8 */
}

.shadow-transition:hover,
.btn-theme:hover,
.btn.node-add-to-cart:hover {
    -webkit-box-shadow: 0px 0px 9px rgba(29, 105, 191, 0.8);
    -moz-box-shadow: 0px 0px 9px rgba(29, 105, 191, 0.8);
    box-shadow: 0px 0px 9px rgba(29, 105, 191, 0.8);
}

#topBar .dark-bg {
    background: #;
}


/*bootstrap line 1194 */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="montd"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(29, 105, 191, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(29, 105, 191, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(29, 105, 191, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(29, 105, 191, 0.6);
}

.bar .foreground,
.node-product .product-title {
    background: #1d69bf;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViN2MxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjk2NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #77a5d9 0%, #1d69bf 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #568fcf), color-stop(100%, #1d69bf));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #77a5d9 0%, #1d69bf 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #77a5d9 0%, #1d69bf 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #77a5d9 0%, #1d69bf 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #77a5d9 0%, #1d69bf 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#77a5d9', endColorstr='#1d69bf', GradientType=0);
    /* IE6-8 */
}

#feedback-link:hover {
    background: #1d69bf;
}

.poll .bar {
    box-shadow: 0 1px 2px rgba(100, 100, 100, .2) inset;
    background: #eee;
}

#footer-region a,
#footer-region a:visited {
    color: #1d69bf;
}

#footer-region .btn-theme,
#footer-region .btn-theme:visited {
    color: #fff;
}